DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_PORT=3306
JWT_SECRET=
FRONTEND_URL=http://localhost:5173
SEED_CUSTOMER_NAME=
SEED_CUSTOMER_EMAIL=
SEED_CUSTOMER_PASSWORD=
SEED_SUPPORT_NAME=
SEED_SUPPORT_EMAIL=
SEED_SUPPORT_PASSWORD=
SEED_ADMIN_NAME=
SEED_ADMIN_EMAIL=
SEED_ADMIN_PASSWORD=
